.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 80px;
    margin: 80px 170px;
}

.about-tittle {
    position: relative;
}

.about-tittle h1 {
    padding: 0px 30px;
    font-size: 60px;
    font-weight: 600;
}

.about-tittle img {
    position: absolute;
    bottom: 0; /* Adjust this if needed */
    left: 0; /* Aligns the image to the left */
    z-index: -1;
}

.about-section {
    display: flex;
    gap: 0px;
    text-align:center;
}

.about-right {
    display: flex;
    flex-direction: column;
    gap: 80px; 
    width: 100%;

}

.about-para {
    display: flex; /* Fixed typo: changed diplay to display */
    flex-direction: column;
    gap: 20px;
    font-size: 22px;
    font-weight: 500;
}

.about-skills {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-skill {
    display: flex;
    gap: 50px;
    align-items: center;
    transition: 0.3s;
}

.about-skill p {
    min-width: 150px;
    font-size: 20px;
    font-weight: 500;
}

.about-skill hr {
    outline: none;
    border: none;
    width: 50%;
    height: 8px;
    border-radius: 50px;
    background: linear-gradient(264deg, #DF8908 -5.09%, #B415FF 106.28%);
}
.about-achievements{
    display:flex;
    width:100%;
    justify-content:space-around;
    margin-bottom:80px;
}
.about-achievement{
    display:flex;
    flex-direction:column;
    align-items:center;
    gap-10px;
    transition:0.5s;
}
.about-achievement h1
{
    font-size:40px;
    font-weight:700;
    background:linear-gradient(270deg,#DF8908 50.41%,#B415FF90.25%);
    -webkit-background-clip:text;
    -webkit-text-fill-color:transparent;

}
.about-achievement p{
    font-size:22px;
    font-weight:500;
}
.about-skill:hover{
    transform:0.3s;
    transform:scale(1.05);
}
.about-achievement :hover{
    transform:0.5s;
    transform:scale(1.15);
}
@media(max-width:768px){
    .about{
        gap:80px;
        margin:50px 70px;
        align-items:start;
    }
    .about-tittle h1{
font-size:50px;
padding:0;
    }
    .about-tittle img{
        width:130px;
        right:-20px;
    }
    .about-section{
        flex-direction:column;
    }
    .about-left{
        display:none;
    }
    .about-para{
        font-size:18px;
        line-height:32px;
    }
    .about-skill{
        gap:20px;
        align-items:center;

    }
    .about-skill p{
        font-size:20px;
    }
    .about-skill hr{
        height:6px;
    }
    .about-achievements{
        justify-content:space-between;
    }
    .about-achievement{
        gap:10px;
    }
    .about-achievement h1{
        font-size:34px;
        font-weight:700;
    }
    .about-achievement p{
        text-align:center;
        font-size:16px;
    }
}